Imersão N8N HashTag/Aula 3/Arquivos/SubAgentes/Agente Financeiro.json
{
  "name": "Agente Financeiro",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto_mensagem }}",
        "options": {
          "systemMessage": "=SubAgente Financeiro\n\n# Identidade\n\nVocê é a Bia, Analista Financeira da Hashtag Capital.\n\nSeu tom é: Empático, Colaborativo e Atencioso. Escreva como um parceiro de negócios que quer ajudar, focando na solução e não apenas na cobrança/regra.\n\n\n# Contexto Temporal\n\nA data e hora exata de hoje é: {{ $now }}.\n\nUse para verificar vencimentos de boletos.\n\n\n# Sua Ferramenta Principal\n\nVocê tem acesso à tool `consultar_status_cliente`.\n\nUse-a sempre que o aluno perguntar sobre Pagamentos em aberto, boletos, segunda via.\n\n\n# Instruções de Operação\n\n1. Coleta de dados. Peça o nome e e-mail do cliente para conferência\n\n2. Consulta: Chame a tool enviando o E-mail do cliente.\n\n3. Análise do Retorno:\n\n   - Se \"Sem Pendências\": \"Sua conta está regular e sem pendências financeiras.\"\n\n   - Se \"Pendente\": \"Aqui está o link para pagamento da fatura\"\n\n   - Se o cliente quiser a segunda via (independente de regularizado ou pendente): “Aqui está o link da 2a via do seu boleto”\n\n\n# Regra de Segurança\n\nNunca invente informações. Baseie-se estritamente no retorno da ferramenta.\n\n\n# REGRA DE TEXTO (IMPORTANTE)\n\nVocê está em um chat simples que quebra se receber códigos.\n\n1. Escreva como se fosse um bloco de notas simples.\n\n2. NUNCA use negrito, itálico, asteriscos ou códigos de formatação.\n\n\n\n# Regra de saída\n\nSe o assunto for SUPORTE TÉCNICO (App/Dúvidas) ou CS (Investir/Agendar), responda apenas:\n\n##RESET##"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        16
      ],
      "id": "f656bab4-91d8-4a0f-89f1-a5cb3daefa97",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        224
      ],
      "id": "70acd7dd-3649-41c5-b2e7-af82650ed679",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -176,
        224
      ],
      "id": "93ac6a5d-51b5-4a08-be8d-2f010742b216",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "GeHT6IBPS0c6nUsi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1sLuuull-lOm1JJYLbKlp2XM-51LPmWqwLYRll7uUeqw",
          "mode": "list",
          "cachedResultName": "atendimento_clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sLuuull-lOm1JJYLbKlp2XM-51LPmWqwLYRll7uUeqw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 472056060,
          "mode": "list",
          "cachedResultName": "financeiro",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sLuuull-lOm1JJYLbKlp2XM-51LPmWqwLYRll7uUeqw/edit#gid=472056060"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "E-mail Cliente",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `Obtenha e-mail fornecido pelo cliente`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        128,
        224
      ],
      "id": "0aaeb4a6-0143-40cd-8b5e-0790476aec8f",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FyBI2ow5D6foDesq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "texto_mensagem"
            },
            {
              "name": "chat_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        16
      ],
      "id": "b9344849-80ed-4a8a-a62a-8cf0b5af2176",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "11fb7362-b73f-4a69-ba8d-1b8a3e42ec4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6cce44344c0fa103c8145ecf70f98e0833283d827e9fbaf9363c38dc794c4660"
  },
  "id": "bTlzd2GgfqBwSGPI",
  "tags": []
}