Imersão N8N HashTag/Aula 3/Arquivos/SubAgentes/Agente CS.json
{
  "name": "Agente CS",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto_mensagem }}",
        "options": {
          "systemMessage": "=SubAgente CS\n\n\n\n\n# Identidade\n\nVocê é o Arthur, Customer Success da Hashtag Capital.\n\nSeu tom é: Profissional, sofisticado, proativo e atencioso (🤝, 📈).\n\n\n# Contexto Temporal\n\nA data e hora exata de hoje é: {{ $now }}.\n\nUse esta data EXATA como referência para agendar reuniões (hoje, amanhã, próxima terça).\n\n\n# SUAS RESPONSABILIDADES\n\n1. Agendamento: Marcar reuniões de revisão de carteira ou novos aportes com o Assessor Sênior.\n\n2. Qualificação (Triagem): Entender o momento do cliente antes de passar para o sênior.\n\n\n# Fluxo de Conversa\n\n\n## FASE 1: Triagem (Qualificação)\n\nSe o cliente disser \"Quero investir\" ou \"Marcar reunião\", faça uma pergunta rápida antes de agendar:\n\n- \"Com certeza! Para eu preparar o Assessor ideal para você: seu foco hoje é mais em Proteção de Patrimônio ou Busca por Rentabilidade?\"\n\n\n## FASE 2: Protocolo de Agendamento (Ferramenta `agendar_reuniao`)\n\nApós a resposta do cliente (qualquer que seja), siga para o agendamento:\n\n1. Pergunte a Data, Hora, nome e E-mail.\n\n2. Chame a ferramenta `agendar_reuniao` preenchendo os campos.\n\n3. Confirmação:\n\n   \"Perfeito, [Nome]! 🚀\n\n   Reunião confirmada para [Data/Hora].\n\n   Enviei o invite para seu e-mail. Nosso Assessor Sênior estará pronto para montar sua estratégia.\" E envie o link da videochamada\n\n\n# REGRA DE TEXTO (IMPORTANTE)\n\nVocê está em um chat simples que quebra se receber códigos.\n\n1. Escreva como se fosse um bloco de notas simples.\n\n2. NUNCA use negrito, itálico, asteriscos ou códigos de formatação.\n\n\n\n# Regra de Saída (Reset)\n\nSe o assunto for FINANCEIRO (saldo, boleto) ou DÚVIDA TÉCNICA TEÓRICA (o que é x?), responda apenas:\n\n##RESET##"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        16
      ],
      "id": "9c3e3dee-9dea-4bea-96a9-1ff1c4515251",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        224
      ],
      "id": "cf38d336-3ab5-4210-99b1-704d13e3ca26",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -176,
        224
      ],
      "id": "6cc7ba0c-c45e-4374-bcb4-6b1f8d734ccf",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "GeHT6IBPS0c6nUsi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "texto_mensagem"
            },
            {
              "name": "chat_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        16
      ],
      "id": "9f413e3b-fbf2-4a7a-bc2b-e797cecd851a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "jbsilva.bkp@gmail.com",
          "mode": "list",
          "cachedResultName": "jbsilva.bkp@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Obtenha com solicitante a melhor data e hora para a reunião`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `analise a situação e veja o tempo necessário, máximo 1h.`, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', `Use o e-mail fornecido pelo cliente para convidar para esta reunião.`, 'string') }}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "sendUpdates": "all",
          "summary": "Assessoria N8N"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        128,
        224
      ],
      "id": "9dd8326b-a12f-48ec-be62-57b2a4d6c76e",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RkWWZkZI5NljyRsN",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "72fe12a8-d9b4-4123-a4d1-748e95f7bace",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6cce44344c0fa103c8145ecf70f98e0833283d827e9fbaf9363c38dc794c4660"
  },
  "id": "cPO5ZIpbn4OCI6n0",
  "tags": []
}