Imersão N8N HashTag/Aula 3/Arquivos/Agente Gerente.json
{
  "name": "Agente Gerente",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e9b93487-618c-431f-b08a-5e3e677a961b",
      "name": "Telegram Trigger",
      "webhookId": "161e2ad3-8182-4ee9-80e2-0d7f24e280cb",
      "credentials": {
        "telegramApi": {
          "id": "5HFl7ooQRJQ80ic7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1849cbb-b702-4f33-a7ec-af45d3e7015d",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        0
      ],
      "id": "afb7f8ab-5e4c-4fbc-8a47-6d0151265a65",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        144
      ],
      "id": "02889d7b-bd69-42ee-b542-474d06cca9bf",
      "name": "Get a file",
      "webhookId": "22da13c6-3a8b-4c09-8961-1ea2cfac2568",
      "credentials": {
        "telegramApi": {
          "id": "5HFl7ooQRJQ80ic7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        544,
        144
      ],
      "id": "d2aabbf7-5791-41d5-8ab0-75d5194a6a73",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "iTqsfuNeEYvPlAN8",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53ed5c6-a77e-4d78-9d7a-78f87cd73fdd",
              "name": "texto",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        -16
      ],
      "id": "30548693-6ab8-4321-b9db-32b2f2653495",
      "name": "Texto recebido"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd4dc930-9413-4194-90ee-a1d5428aad59",
              "name": "texto",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        144
      ],
      "id": "24b2f60d-0926-4524-a9bf-a2476cebdc31",
      "name": "Audio recebido"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto }}",
        "options": {
          "systemMessage": "=# Identidade\n\nVocê é a Sofia, Gerente de Atendimento da Hashtag Capital, um escritório de assessoria de investimentos de alta performance.\n\n\nSua função é EXCLUSIVAMENTE:\n\n1. Classificar a intenção do cliente com base na mensagem.\n\n2. Acionar a ferramenta (especialista) correspondente.\n\n3. Atuar como um espelho: A ferramenta vai gerar uma resposta. O seu trabalho é pegar essa resposta e entregá-la ao usuário exatamente como ela veio, sem tirar nem por.\n\n\n# Regra de Ouro (CRÍTICO - Roteador Invisível)\n\n- NUNCA responda com frases próprias como \"Vou verificar com o setor...\" ou \"Aguarde um momento\".\n\n- NUNCA narre o que você está fazendo.\n\n- NUNCA tente resolver o problema sozinho (exceto em saudações simples).\n\n\nO cliente deve sentir que foi atendido imediatamente pelo especialista da área.\n\n\n# Seus Especialistas (Tools)\n\n1. AgenteFinanceiro:\n\n   - Assuntos: Financeiro, 2ª via de boleto, pagamentos pendentes.\n\n   - Ação: Use para questões operacionais e burocráticas (pagamentos).\n\n\n2. AgenteSuporte:\n\n   - Assuntos: Dúvidas TÉCNICAS e TEÓRICAS de mercado financeiro. \"O que é Selic?\", \"Como funciona FII?\", \"Diferença de CDB e LCI\", etc\n\n   - Ação: Use para educação financeira, tirar dúvidas de conceitos.\n\n\n3. AgenteCS:\n\n   - Assuntos: RELACIONAMENTO e AGENDAMENTO. \"Quero investir\", \"Marcar reunião\", \"Revisar carteira\", \"Falar com assessor\", \"Perfil de investidor\".\n\n   - Ação: Use quando o cliente demonstra intenção de agir, investir ou quer contato humano.\n\n\n# Procedimento de Resposta\n\n1. Saudação (Apenas \"Oi/Olá\"): Se o usuário disser APENAS uma saudação, responda: \"Olá! Sou a Sofia, Gerente de Atendimento da Hashtag Capital. Posso te direcionar pra Assuntos Financeiros, Dúvidas de Mercado (Suporte) ou Agendamento com Assessor. Como posso te ajudar hoje?\"\n\n\n2. Solicitação Específica: Se o usuário já enviou a dúvida, acione a ferramenta correspondente imediatamente.\n\n   - IMPORTANTE: O seu output final deve ser estritamente o texto retornado pela ferramenta.\n\n\n3. Dúvida: Se não souber classificar, chame o `AgenteCS`.\n\n\n# TRATAMENTO DE ERRO (IMPORTANTE) Se a ferramenta (sub-agente) retornar a mensagem exata `##RESET##`, isso significa que ela não conseguiu resolver o pedido. NESSE CASO, NÃO ENVIE `##RESET##` PARA O USUÁRIO. Em vez disso, assuma o controle e responda: \"Desculpe, poderia explicar melhor sua dúvida?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        -16
      ],
      "id": "d0078ca6-6f66-4cf2-aec2-f8a56a587c07",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1024,
        336
      ],
      "id": "f8880d4c-95fb-48f7-81e8-0aef3d363534",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Especialista em Financeiro. Use para boletos, 2a via, regularização de pagamento.",
        "workflowId": {
          "__rl": true,
          "value": "bTlzd2GgfqBwSGPI",
          "mode": "list",
          "cachedResultUrl": "/workflow/bTlzd2GgfqBwSGPI",
          "cachedResultName": "Agente Financeiro"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "texto_mensagem": "={{ $json.texto }}",
            "chat_id": "={{ $('Telegram Trigger').item.json.message.from.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "texto_mensagem",
              "displayName": "texto_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1152,
        288
      ],
      "id": "badab3a1-675b-4a77-aa2f-ba834f99b4f8",
      "name": "Call 'Agente Financeiro'"
    },
    {
      "parameters": {
        "description": "Especialista em Sucesso do Cliente. Use para agendamentos e dúvidas institucionais.",
        "workflowId": {
          "__rl": true,
          "value": "cPO5ZIpbn4OCI6n0",
          "mode": "list",
          "cachedResultUrl": "/workflow/cPO5ZIpbn4OCI6n0",
          "cachedResultName": "Agente CS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $('Telegram Trigger').item.json.message.from.id }}",
            "texto_mensagem": "={{ $json.texto }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "texto_mensagem",
              "displayName": "texto_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1328,
        288
      ],
      "id": "ddb2883c-3b04-40d1-8625-f74ae79b266b",
      "name": "Call 'Agente CS'"
    },
    {
      "parameters": {
        "description": "Especialista Técnico e Tutor. Use para dúvidas técnicas",
        "workflowId": {
          "__rl": true,
          "value": "-iIeOZf_oQapROOR-ulI-",
          "mode": "list",
          "cachedResultUrl": "/workflow/-iIeOZf_oQapROOR-ulI-",
          "cachedResultName": "Agente suporte"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "texto_mensagem": "={{ $json.texto }}",
            "chat_id": "={{ $('Telegram Trigger').item.json.message.from.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "texto_mensagem",
              "displayName": "texto_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1488,
        288
      ],
      "id": "31fb83c3-bc4d-43d8-b04c-1f834369a4b4",
      "name": "Call 'Agente Suporte'"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        -16
      ],
      "id": "de764739-e8d5-4a2d-9520-608919826e87",
      "name": "Send a text message",
      "webhookId": "9a635299-1a78-4ef1-b2bc-f35679268af7",
      "credentials": {
        "telegramApi": {
          "id": "5HFl7ooQRJQ80ic7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        240
      ],
      "id": "ce99b091-6171-4a6d-a8c3-63e937046385",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "iTqsfuNeEYvPlAN8",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Texto recebido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Audio recebido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto recebido": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio recebido": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Agente Financeiro'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Agente CS'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Agente Suporte'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d255b3d8-5988-4e0b-ad18-ab544265d7af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6cce44344c0fa103c8145ecf70f98e0833283d827e9fbaf9363c38dc794c4660"
  },
  "id": "pV1WXGfhAH4Up1liKzsbn",
  "tags": []
}